{% extends 'ashka_net/base.html' %}

{% block content %}
<div class="oplat">
    <div class="oplata">
        <h1 style="display: flex; justify-content: center;">Способи оплати і доставки товару</h1>
        <ul style="font-size: 1.2rem;line-height: 1.5;">
            <li><h3>Доставка:</h3>
            <li style="list-style-type: square;"><b>Нова пошта.</b> Відправка замовлень здійснюється кожного дня з понеділка по п'ятницю. Для
                того щоб замовлення було
            </li>
            <li>відправлене в день оплати, воно повинне бути оплачене до 14:00. Замовлення з оплатою на відділені зроблені до 14:00</li>
            <li>відправляються в той самий день. Орієнтовна вартість доставки від 50грн;</li>
            <li style="list-style-type: square;"><b>Укрпошта.</b> Термін відправки замовлень 1-3 дні. Орієнтовна вартість доставки від 30грн.</li>
            </li>
            <li><h3>Оплата:</h3>
            <li style="list-style-type: square;">Оплата на IBAN рахунок;</li>
            <li style="list-style-type: square;">Оплата на карту Монобанку, для користувачів Монобанку;</li>
            <li style="list-style-type: square;">Оплата при отриманні на відділені поштового перевізника.</li>
            </li>

        </ul>
    </div>
</div>

{% endblock %}