{% extends 'ashka_net/base.html' %}

{% block content %}
<div class="pervag">
    <div class="perevagy">
        <h1 style="display: flex; justify-content: center;">В чому Наші переваги?</h1>
        <ul style="font-size: 1.2rem;line-height: 1.5;list-style-type: square;">
            <li>Завжди низькі ціни</li>
            <li>Широкий вибір комплектуючих: більше 3000 найменувань</li>
            <li>Професійна консультація та індивідуальний підхід</li>
            <li>Гарантована знижка 5% починаючи з першого замовлення</li>
            <li>Мабуть, найкраща програма лояльності: зареєстрованим клієнтам знижка до 15%</li>
            <li>Швидке опрацювання замовлень та безкоштовне пакування</li>
            <li>Замовлення відправляємо щодня з понеділка по п'ятницю</li>
            <li>Післяпродажне обслуговування і ремонт</li>
            <li>Більше 5-ти років на ринку</li>
            <li>Для нас важливо, щоб наші клієнти були задоволені :)</li>
        </ul>
    </div>
</div>


{% endblock %}