{% extends 'ashka_net/base.html' %}

{% block content %}
<div id="content">
    <br>
    <div class="obmi">
        <div class="obmin"
             style="padding: 0px 70px 50px 70px; text-align: left; font-size: 1.2rem;line-height: 1.5;">
            <center>
                <div style="padding-top: 35px; font-size: 25px;"><h3>Повернення та обмін</h3></div>
            </center>
            <p>Обмін та повернення товару відбувається
                за
                згодою з Покупцем відповідно до чинного Закону "Про захист прав споживачів".</p>
            <p>
                Повернення та обмін товарів можливі протягом 14 днів після отримання товару покупцем.
            </p>
            <p>
                Для повернення товару придбаного в інтернет-магазині "Hobbymania", необхідно надати документи, що підтверджують факт придбання товару
                в
                надрукованому або електронному вигляді.
            </p>
            <p>
                У разі повернення товару, неналежної якості (заводський дефект) повернення здійснюється за рахунок магазину (вартість доставки товару
                від
                Покупця до магазину). Після підтвердження дефекту технічними спеціалістами магазину, проводиться заміна товару на ідентичний або
                рівноцінний товар, за погодженням з Покупцем, або повернення вартості товару Покупцю.
            </p>
            <p>
                У разі повернення товару належної якості, з інших причин (не сподобався, не підійшов за габаритами, формою, характеристиками,
                кольором,
                інше) у термін, встановлений Законом "Про захист прав споживачів", повернення здійснюється за рахунок Покупця (вартість доставки
                товару
                від Покупця до магазину). Після перевірки якості товару технічними спеціалістами магазину (цілісність упаковки, комплектація,
                відсутність
                слідів експлуатації, наявність заводських пломб, серійних номерів та інших інформаційних носіїв передбачених виробником), проводиться
                заміна товару на ідентичний або рівноцінний товар, за погодженням з Покупцем, або повернення вартості товару Покупцю за винятком
                супутніх
                комісій, які могли виникнути під час оплати/повернення оплати.
            </p>
            <p>
                Повернення коштів буде здійснено банківським переказом протягом 7 робочих днів з дати отримання нами товару.
            </p>
            <p>
                Відповідно до Закону "Про захист прав споживачів", компанія може відмовити споживачеві в обміні та поверненні товарів належної якості,
                якщо вони належать до категорій, зазначених у чинному "Переліку непродовольчих товарів належної якості, що не підлягають поверненню та
                обміну".
            </p></div>
    </div>
</div>
{% endblock %}